//Подключаем шрифты к проекту
//@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
//Здесь у нас собранные svg в шрифт
@import "icons";


$mainColor: #252851; //Цвет хедера
$textColorHeaderDark: #126FB8; //Цвет текста заголовков темных (на светлом фоне)
$textColorHeaderLight: #FFFFFF; //Цвет текста заголовков светлых (на тёмном фоне)



//Переменная для хранения имени шрифта
$fontFamily: 'Manrope';


$heightHeader: 104; //Высота хедера
$heightTextMenu: 22; //Высота текста меню (для расчета положения меню в хедере)

//Переменные размера экрана
$minWidth: 320px;
$maxWidth: 1920;
$MaxWidthContainer: 1022;

$md1: $MaxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

* { //Сброс настроек браузера
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: $heightHeader+px;
    background: $mainColor;
    width: 100%;
}

.extend-grid-line { //класс для расширения других блоков
    max-width: $MaxWidthContainer+px;
    display: grid;

    margin:auto;
    justify-content: center;

    grid-template-columns: repeat(auto-fit,minmax($MaxWidthContainer/2+px, 1fr));

    grid-row-gap: 10px;
}
//Здесь вся верстка хедера!
.header-content {
    @extend .extend-grid-line;

    font-family: $fontFamily, sans-serif;
    max-width: $md1+px;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));

    .logo {
        z-index: 100;
        float: left;
        margin: 15px;
    }

    .menu-full {

        margin-top: $heightHeader/2-$heightTextMenu/2+px;
        margin-left: auto;
        margin-right: 10px;
        padding: 0;

        color: $textColorHeaderLight;

        text-decoration: none;

        //Блок навигации (меню)
        #navbar {
            list-style-type: none;
            color: $textColorHeaderLight;
            text-align: center;

            a {
                margin-left: 10px;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                color: $textColorHeaderLight;
                display: inline-block;
            }
            a:hover {
                font-weight: bold;
            }

            li {
                display: inline;
                color: $textColorHeaderLight;
            }
        }
    }
}

body {
    background-color: #cbd5e0;
    font: $fontFamily;
}

.first-screen {
    //Первый экран. Для того что бы градиентный фон лёг корректно.
    background: linear-gradient(79.95deg, rgba(18, 111, 184, 0.2) 2.62%, rgba(18, 111, 184, 0) 98.24%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    //Основной контейнер где будут находится данные
    .wrapper {
        display: grid;
        @extend .extend-grid-line;
        height: 100vh;




        .for-details {
            margin-left: 5px;
            margin-right: 5px;

            margin-top: 182px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


            h1 {

                font-family: $fontFamily, ExtraBold;
                font-style: normal;
                font-weight: 800;
                font-size: 48px;
                line-height: 60px;

                color: $textColorHeaderDark;

            }

            p {
                font-family: $fontFamily, Regular;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 150%;

                color: $mainColor;
            }
        }

        .form-registration {
            margin-left: auto;
            margin-right: 5px;

            height: 215px;
            width: 407px;
            margin-top: 182px;

            align-content: center;
            justify-items: end;


            //Чекбекс с его позицией и настроечками
            .checkboxes {
                padding: 5px 10px;
                margin-top: 13px;
                width: auto;

                height: 48px;
                font-family: $fontFamily, Regular;
                color: $mainColor;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;

            }
            .checkbox-group {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 10px;
            }
            .checkbox {
                cursor: pointer;

            }
            .label {
                cursor: pointer;
                margin-left: 10px;
                margin-right: 10px;
            }

            #registration {

                padding: 9px 90px;

                width: 406px;
                height: 66px;

                background: #FFFFFF;
                box-shadow: 0px 4px 8px rgba(37, 40, 81, 0.1);
                border-radius: 8px;

                color: blue;
                font-size: 1.5em;
                text-align: center;
            }

            input, textarea {
                outline: none;
                border: none;

            }

            ::placeholder {
                color: blue;
                font-size: 1.5em;
                text-align: center;
                font-weight: bold;
            }

            .button-reg {
                display: flex;
                flex-direction: row;
                justify-content: center;
                //align-items: center;
                padding: 16px 40px;

                margin-top: 33px;

                width: 407px;
                height: 48px;

                background: #F7C548;
                box-shadow: 0px 4px 8px rgba(37, 40, 81, 0.1);
                border-radius: 46px;

                .fa-fa-arrow {

                    position: static;
                    width: 24px;
                    height: 24px;
                    left: 274.5px;
                    top: 12px;

                    transform: rotate(90deg);

                    /* Inside auto layout */

                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    margin: 0px 16px;
                }
            }

        }
    }
}
//Тестовые блоки что бы видеть как будет делиться экран
.test_class {
    background-color: #f7c548;
}
