@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap);
@font-face {
  font-family: "icons";
  src: url("/fonts/icons.ttf?onzyg6") format("truetype"), url("/fonts/icons.woff?onzyg6") format("woff"), url("/fonts/icons.svg?onzyg6#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-car-key .path1:before {
  content: "\e900";
  color: #f7c548;
}

._icon-car-key .path2:before {
  content: "\e901";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-car-key .path3:before {
  content: "\e902";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-car-key .path4:before {
  content: "\e903";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-car-key .path5:before {
  content: "\e904";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-car-key .path6:before {
  content: "\e905";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-finance .path1:before {
  content: "\e906";
  color: #f7c548;
}

._icon-finance .path2:before {
  content: "\e907";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-finance .path3:before {
  content: "\e908";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-finance .path4:before {
  content: "\e909";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-file .path1:before {
  content: "\e90a";
  color: #f7c548;
}

._icon-file .path2:before {
  content: "\e90b";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-file .path3:before {
  content: "\e90c";
  margin-left: -0.984375em;
  color: #252851;
}

._icon-logo .path1:before {
  content: "\e90d";
  color: #116fb8;
}

._icon-logo .path2:before {
  content: "\e90e";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path3:before {
  content: "\e90f";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path4:before {
  content: "\e910";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path5:before {
  content: "\e911";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path6:before {
  content: "\e912";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path7:before {
  content: "\e913";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path8:before {
  content: "\e914";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path9:before {
  content: "\e915";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path10:before {
  content: "\e916";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path11:before {
  content: "\e917";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path12:before {
  content: "\e918";
  margin-left: -4.3681640625em;
  color: white;
}

._icon-logo .path13:before {
  content: "\e919";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path14:before {
  content: "\e91a";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path15:before {
  content: "\e91b";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path16:before {
  content: "\e91c";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path17:before {
  content: "\e91d";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path18:before {
  content: "\e91e";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path19:before {
  content: "\e91f";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path20:before {
  content: "\e920";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path21:before {
  content: "\e921";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path22:before {
  content: "\e922";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path23:before {
  content: "\e923";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path24:before {
  content: "\e924";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path25:before {
  content: "\e925";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path26:before {
  content: "\e926";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

._icon-logo .path27:before {
  content: "\e927";
  margin-left: -4.3681640625em;
  color: #cfcece;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 104px;
  background: #252851;
  width: 100%;
}

.extend-grid-line, .second-screen .wrapper .container .gradient-container .gradient .normalize-block .container, .first-screen .wrapper, .header-content {
  max-width: 1022px;
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(511px, 1fr));
  grid-row-gap: 10px;
}

.header-content {
  font-family: "Manrope", sans-serif;
  max-width: 1034px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.header-content .logo {
  z-index: 100;
  float: left;
  margin: 15px;
}
.header-content .menu-full {
  margin-top: 41px;
  margin-left: auto;
  margin-right: 10px;
  padding: 0;
  color: #FFFFFF;
  text-decoration: none;
}
.header-content .menu-full #navbar {
  list-style-type: none;
  color: #FFFFFF;
  text-align: center;
}
.header-content .menu-full #navbar a {
  margin-left: 10px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  display: inline-block;
}
.header-content .menu-full #navbar a:hover {
  font-weight: bold;
}
.header-content .menu-full #navbar li {
  display: inline;
  color: #FFFFFF;
}
.header-content .hamburger-menu {
  z-index: 101;
}
.header-content .hamburger-menu #menu__toggle {
  opacity: 0;
}
.header-content .hamburger-menu .menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header-content .hamburger-menu .menu__btn > span,
.header-content .hamburger-menu .menu__btn > span::before,
.header-content .hamburger-menu .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.header-content .hamburger-menu .menu__btn > span::before {
  content: "";
  top: -8px;
}
.header-content .hamburger-menu .menu__btn > span::after {
  content: "";
  top: 8px;
}
.header-content .hamburger-menu .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header-content .hamburger-menu .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.header-content .hamburger-menu .menu__item:hover {
  background-color: #CFD8DC;
}
.header-content .hamburger-menu #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header-content .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header-content .hamburger-menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header-content .hamburger-menu #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.header-content .hamburger-menu .menu__btn > span,
.header-content .hamburger-menu .menu__btn > span::before,
.header-content .hamburger-menu .menu__btn > span::after {
  transition-duration: 0.25s;
}
.header-content .hamburger-menu .menu__box {
  transition-duration: 0.25s;
}
.header-content .hamburger-menu .menu__item {
  transition-duration: 0.25s;
}

body {
  background-color: #cbd5e0;
  font: "Manrope";
}
.first-screen {
  background: linear-gradient(79.95deg, rgba(18, 111, 184, 0.2) 2.62%, rgba(18, 111, 184, 0) 98.24%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.first-screen .wrapper {
  display: grid;
  height: 85vh;
}
.first-screen .wrapper .for-details {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 182px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.first-screen .wrapper .for-details h1 {
  font-family: "Manrope", ExtraBold;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #126FB8;
}
.first-screen .wrapper .for-details p {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #252851;
}
.first-screen .wrapper .form-registration {
  margin-left: auto;
  margin-right: 5px;
  height: 215px;
  width: 407px;
  margin-top: 182px;
  align-content: center;
  justify-items: end;
}
.first-screen .wrapper .form-registration .checkboxes {
  padding: 5px 10px;
  margin-top: 13px;
  width: auto;
  height: 48px;
  font-family: "Manrope", Regular;
  color: #252851;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.first-screen .wrapper .form-registration .checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.first-screen .wrapper .form-registration .checkbox {
  cursor: pointer;
}
.first-screen .wrapper .form-registration .label {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.first-screen .wrapper .form-registration #registration {
  padding: 9px 90px;
  width: 406px;
  height: 66px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(37, 40, 81, 0.1);
  border-radius: 8px;
  color: blue;
  font-size: 1.5em;
  text-align: center;
}
.first-screen .wrapper .form-registration input, .first-screen .wrapper .form-registration textarea {
  outline: none;
  border: none;
}
.first-screen .wrapper .form-registration ::-moz-placeholder {
  color: blue;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
.first-screen .wrapper .form-registration :-ms-input-placeholder {
  color: blue;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
.first-screen .wrapper .form-registration ::placeholder {
  color: blue;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}
.first-screen .wrapper .form-registration .button-reg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 40px;
  margin-top: 33px;
  width: 407px;
  height: 48px;
  background: #F7C548;
  box-shadow: 0px 4px 8px rgba(37, 40, 81, 0.1);
  border-radius: 46px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #252851;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.second-screen {
  background: #FFFFFF;
}
.second-screen .wrapper {
  height: 90vh;
}
.second-screen .wrapper .div-block {
  margin: 0 auto;
}
.second-screen .wrapper .div-block .for-description {
  padding-top: 79px;
  margin: 0 auto;
  height: auto;
  max-width: 760px;
  min-width: 320px;
}
.second-screen .wrapper .div-block .for-description h1 {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  color: #126FB8;
}
.second-screen .wrapper .div-block .for-description p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #252851;
  height: 120px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}
.second-screen .wrapper .div-block .for-description .text {
  margin-top: 30px;
}
.second-screen .wrapper .container {
  position: relative;
  overflow: hidden;
}
.second-screen .wrapper .container .gradient-container .gradient {
  margin-top: 5%;
  width: 130%;
  height: 760.5px;
  margin-left: -15%;
  transform: rotate(-5deg);
  background: linear-gradient(247.8deg, #126FB8 0%, #252851 100%);
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block {
  transform: rotate(5deg);
  padding-top: 100px;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block h1 {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block p {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  padding-top: 30px;
  color: #FFFFFF;
  text-align: center;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block .container {
  display: grid;
  margin: 15px auto;
  grid-template-columns: repeat(auto-fit, minmax(330.6666666667px, 1fr));
  padding-left: 5px;
  padding-right: 5px;
  justify-items: center;
  justify-content: center;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block .container .advantage {
  max-width: 330.6666666667px;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block .container .advantage h1 {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 24px;
}
.second-screen .wrapper .container .gradient-container .gradient .normalize-block .container .advantage p {
  font-family: "Manrope", Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 16px;
}

.test_class {
  background-color: #f7c548;
}

@media (min-width: 768px){
  .header-content .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1021px){
  .first-screen .wrapper {
    justify-items: center;
    align-content: center;
    margin: 0 auto auto auto;
    padding-left: 5px;
    padding-right: 5px;
  }
  .first-screen .wrapper .for-details {
    margin: 15px;
    justify-items: center;
  }
  .first-screen .wrapper .form-registration {
    height: 215px;
    width: 407px;
    margin: 15px;
    align-content: center;
    justify-items: auto;
  }

  second-screen .wrapper .div-block .for-description {
    padding-top: 0;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px){
  .header-content .menu-full {
    display: none;
  }
}
